body {	
	text-align: center;
}

#loginarea {
	background-color: #fcfcfc;
	margin: 20% auto auto 0px;
	width: 100%;
	height: 150px;
}

.login_title {
	background-color: #aaaaaa;
	color: #000080;
	font-size: 16px;
	font-weight: bold;
	padding: 3px;
}

#loginarea input {
	margin-top: 5px;
	border-radius: 3px;
	width: 180px;
	color: #333333;
}

#loginarea button {
	margin-top: 5px;
	width: 180px;
}
